<html>
	<head>
		<title>Recent pastes</title>
		<link href="/style/hs-paste.css" rel="stylesheet" type="text/css" />
		<link href="/style/hs-highlight.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<?py for paste in pastes: ?>
			<a class="paste-preview-link" href="/#{paste.id}">
			<div class="paste-preview">
				<div class="meta">
					#{paste.language + ' | ' if paste.language else ''}
					#{paste.date.strftime(DATE_FORMAT)}
				</div>
				#{paste.preview}
			</div>
			</a>
			<div class="clearing"></div>
		<?py #endfor ?>
		<div class='menu'>
			<ul>
				<li><a class='create' href='/'>Create</a></li>
			</ul>
		</div>
	</body>
</html>
